{% extends 'base.html' %}
<!>
{% load static %}
<!>
{% block title %} About Us {% endblock %}
<!>
{% block content %}
<div class="aboutpagemain">
  <div class="aboutpagetop">
    <div class="aboutpagetopleft">
      <img src="{% static 'assets/bodyimages/3.jpg' %}" alt="Ab" />
    </div>
    <div class="aboutpagetopright">
      <div class="layer-container">
        <div class="layerbottom">
          <img src="{% static 'assets/icons/comma.png' %}" alt="Comma" />
          <img src="{% static 'assets/icons/comma.png' %}" alt="Comma" />
        </div>
        <div class="layertop">
          <h1>Our Mission</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ab
            at illo corrupti temporibus id praesentium repellat nesciunt
            exercitationem. Praesentium, rem? Enim optio accusamus omnis
            voluptates fuga ex ipsam facilis modi minus error. Molestias itaque
            libero commodi nam autem illo sunt voluptates eveniet atque labore.
            Dolor eveniet quos vel tenetur.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="profiles">
    <h1>Our Team</h1>
    <div class="profilerow">
      <div class="profilecard">
        <div class="profileimg">
          <img
            src="{% static 'assets/bodyimages/4.jpg' %}"
            alt="Profile Image"
          />
        </div>
        <div class="profilebody">
          <h3>Name</h3>
          <h4>Role</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum
            repellat sapiente perferendis est tempore porro? Eveniet incidunt
            nulla ipsam?
          </p>
        </div>
      </div>
      <div class="profilecard">
        <div class="profileimg">
          <img
            src="{% static 'assets/bodyimages/4.jpg' %}"
            alt="Profile Image"
          />
        </div>
        <div class="profilebody">
          <h3>Name</h3>
          <h4>Role</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum
            repellat sapiente perferendis est tempore porro? Eveniet incidunt
            nulla ipsam?
          </p>
        </div>
      </div>
      <div class="profilecard">
        <div class="profileimg">
          <img
            src="{% static 'assets/bodyimages/4.jpg' %}"
            alt="Profile Image"
          />
        </div>
        <div class="profilebody">
          <h3>Name</h3>
          <h4>Role</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum
            repellat sapiente perferendis est tempore porro? Eveniet incidunt
            nulla ipsam?
          </p>
        </div>
      </div>
      <div class="profilecard">
        <div class="profileimg">
          <img
            src="{% static 'assets/bodyimages/4.jpg' %}"
            alt="Profile Image"
          />
        </div>
        <div class="profilebody">
          <h3>Name</h3>
          <h4>Role</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum
            repellat sapiente perferendis est tempore porro? Eveniet incidunt
            nulla ipsam?
          </p>
        </div>
      </div>
      <div class="profilecard">
        <div class="profileimg">
          <img
            src="{% static 'assets/bodyimages/4.jpg' %}"
            alt="Profile Image"
          />
        </div>
        <div class="profilebody">
          <h3>Name</h3>
          <h4>Role</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum
            repellat sapiente perferendis est tempore porro? Eveniet incidunt
            nulla ipsam?
          </p>
        </div>
      </div>
      <div class="profilecard">
        <div class="profileimg">
          <img
            src="{% static 'assets/bodyimages/4.jpg' %}"
            alt="Profile Image"
          />
        </div>
        <div class="profilebody">
          <h3>Name</h3>
          <h4>Role</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum
            repellat sapiente perferendis est tempore porro? Eveniet incidunt
            nulla ipsam?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="impact">
    <h1>Our Impact</h1>
    <div class="impacttop">
      <div class="impacttopleft">
        <h1 id="helpedCount">0</h1>
        <h2>Helped</h2>
      </div>
      <div class="impacttopright">
        <h1 id="taughtCount">0</h1>
        <h2>Taught</h2>
      </div>
    </div>
    <div class="impactbottom">
      <h1>Some Graphs</h1>
      <div class="impactbottomgraphs">
        <img src="{% static 'assets/graphs/graph1.png' %}" alt="Graph" />
        <img src="{% static 'assets/graphs/pie1.png' %}" alt="Graph" />
      </div>
    </div>
  </div>
  <div class="partner">
    <h1>Our Partners</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quod, est
      nihil esse reprehenderit sapiente obcaecati deleniti blanditiis adipisci
      laboriosam! Eum, quia. Cum repellendus et quos asperiores distinctio
      veritatis esse nulla similique facere officia dignissimos dolore, saepe
      omnis rem non excepturi accusantium libero incidunt repudiandae. Incidunt
      laudantium esse quidem similique!
    </p>
    <div class="partnerrow">
      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>
      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>
      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>

      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>
      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>
      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>
      <div class="partnercard">
        <img src="{% static 'assets/logo192.png' %}" alt="Partner" />
        <h4>Partner Name</h4>
      </div>
    </div>
  </div>
  <div class="values">
    <div class="valuestop">
      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>
      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>

      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>
    </div>
    <div class="valuesmiddle">
      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>
      <div class="valuecard">
        <h3>Our Core Value and Principles</h3>
      </div>

      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>
    </div>
    <div class="valuesbottom">
      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>
      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>

      <div class="valuecard">
        <img src="{% static 'assets/logo192.png' %}" alt="Value" />
        <h3>Core Value</h3>
      </div>
    </div>
  </div>
  <div class="report">
    <h1>Annual Report</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio
      commodi fugit laudantium, quia praesentium placeat officia. Ipsa ea, modi,
      dolores distinctio sunt itaque, tenetur asperiores earum provident
      possimus explicabo.
    </p>
    <div class="reportrow">
      <button>
        <img src="{% static 'assets/icons/download.png' %}" alt="Download " />
        <p>Download Annual Report 2024</p>
      </button>
      <button>
        <img src="{% static 'assets/icons/download.png' %}" alt="Download " />
        <p>Download Annual Report 2023</p>
      </button>
      <button>
        <img src="{% static 'assets/icons/download.png' %}" alt="Download " />
        <p>Download Annual Report 2022</p>
      </button>
      <button>
        <img src="{% static 'assets/icons/download.png' %}" alt="Download " />
        <p>Download Annual Report 2021</p>
      </button>
      <button>
        <img src="{% static 'assets/icons/download.png' %}" alt="Download " />
        <p>Download Annual Report 2020</p>
      </button>
    </div>
  </div>
</div>

<script src="{% static 'js/about.js' %}"></script>

{% endblock %}
