{% extends 'base.html' %}
<!>
{% load static %}
<!>
{% block title %} Prem Mandir Sansthan {% endblock %}
<!>
{% block content %}
<div class="homemaintop">
  <div class="homebody">
    <h1>Prem Mandir Sansthan</h1>
    <h3>Self-Confident to Self-Reliant</h3>
  </div>
</div>

<div class="homemain">
  <div class="homeleft">
    <h1>Mission Statement</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus in
      iste, est nihil animi quod, expedita molestias sit amet mollitia natus
      autem dolor, vitae dignissimos pariatur. Mollitia, inventore nemo ipsum
      eveniet voluptatum odio iusto nostrum at ea alias illum voluptatem quam
      beatae expedita doloribus cupiditate molestiae vel sint placeat enim
      provident. Maxime est culpa nihil non neque et aperiam? Eum.
    </p>
    <a href="about"> <button>Know More About Us</button></a>
  </div>

  <div class="homeright">
    <img src="{% static 'assets/bodyimages/1.jpg' %}" alt="Logo" />
  </div>
</div>

<div class="programs">
  <div class="programtop">
    <h1>Our Programs</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi fugit
      id repudiandae magnam nesciunt voluptatum rem quod aperiam debitis? Iusto
      iste nam magnam, error dicta sed ex dolore repellat?
    </p>
  </div>
  <div class="programbottom">
    <div class="programcard">
      <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Header Image" />
      <h3>Program Name</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non asperiores
        consequuntur odio modi architecto ipsa fugit tenetur ipsam quis sed!
      </p>
    </div>
    <div class="programcard">
      <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Header Image" />
      <h3>Program Name</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non asperiores
        consequuntur odio modi architecto ipsa fugit tenetur ipsam quis sed!
      </p>
    </div>

    <div class="programcard">
      <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Header Image" />
      <h3>Program Name</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non asperiores
        consequuntur odio modi architecto ipsa fugit tenetur ipsam quis sed!
      </p>
    </div>
  </div>
  <a href="program"><button>Know More </button></a>
</div>

<div class="about">
  <div class="aboutmain">
    <div class="abouttop">
      <div class="abouttopright">
        <h1>Success Stories</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
          corporis sit eaque dignissimos maxime quidem expedita aut ipsum sequi
          sunt!
        </p>
        <ul>
          <li>
            <div class="aboutlistimage">
              <img src="{% static 'assets/logo192.png' %}" alt="About Us" />
            </div>
            <div class="aboutlistitem">
              <h3>Student Name</h3>
              <p>
                Student Achievements - Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Inventore quis, aspernatur consequuntur
                mollitia quas nihil nam nemo! Sed rerum illum voluptatem. Sed at
                quaerat harum non labore culpa aut reiciendis.
              </p>
            </div>
          </li>
          <li>
            <div class="aboutlistimage">
              <img src="{% static 'assets/logo192.png' %}" alt="About Us" />
            </div>
            <div class="aboutlistitem">
              <h3>Student Name</h3>
              <p>
                Student Achievements - Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Inventore quis, aspernatur consequuntur
                mollitia quas nihil nam nemo! Sed rerum illum voluptatem. Sed at
                quaerat harum non labore culpa aut reiciendis.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <h1>Testimonials</h1>

  <div class="wrapper">
    <button class="arrow prev">
      <img src="{% static 'assets/icons/arrowleft.svg' %}" alt="Previous" />
    </button>
    <button class="arrow next">
      <img src="{% static 'assets/icons/arrowright.svg' %}" alt="Next" />
    </button>
    <div class="card-wrapper">
      <div class="card-item">
        <div class="testimonial">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            ullamcorper scelerisque mi, in malesuada felis malesuada vel.
          </p>
        </div>
      </div>
      <div class="card-item">
        <div class="testimonial">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            ullamcorper scelerisque mi, in malesuada felis malesuada vel.
          </p>
        </div>
      </div>
      <div class="card-item">
        <div class="testimonial">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            ullamcorper scelerisque mi, in malesuada felis malesuada vel.
          </p>
        </div>
      </div>
      <div class="card-item">
        <div class="testimonial">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            ullamcorper scelerisque mi, in malesuada felis malesuada vel.
          </p>
        </div>
      </div>
      <div class="card-item">
        <div class="testimonial">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            ullamcorper scelerisque mi, in malesuada felis malesuada vel.
          </p>
        </div>
      </div>
      <div class="card-item">
        <div class="testimonial">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            ullamcorper scelerisque mi, in malesuada felis malesuada vel.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="donation">
  <div class="donationleft">
    <h1>Donation</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem porro
      ratione provident temporibus ea. Quae, aliquam ex. Iusto possimus
      perferendis, distinctio vitae dolorum provident soluta atque, obcaecati,
      numquam voluptatibus officia.
    </p>
  </div>
  <div class="donationright">
    <button>Donate Now</button>
  </div>
</div>

<div class="volunteer">
  <h1>Volunteer</h1>
  <div class="volunteerform">
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <div class="submitbutton">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
