{% extends 'base.html' %}
<!>
{% load static %}
<!>
{% block title %} Our Programs {% endblock %}
<!>
{% block content %}
<div class="programmain">
  <div class="programsectionone">
    <div class="programsectiononeleft">
      <h1>Our Programs</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odio
        vel unde porro hic cumque, atque et impedit recusandae eius sapiente
        doloremque dignissimos itaque dolorem labore repudiandae facilis enim ea
        aperiam eveniet quae tempore inventore assumenda. Error neque cupiditate
        debitis saepe iste dignissimos, voluptatibus quisquam suscipit, earum
        voluptas maxime officia quam odio reiciendis ex aspernatur vitae ullam
        atque veritatis eum.
      </p>
    </div>
    <div class="programsectiononeright">
      <div class="imagesection">
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
      </div>
      <div class="imagesection">
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
      </div>
    </div>
  </div>
  <div class="programsectiontwo">
    <div class="programsectiontwoleft">
      <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
    </div>
    <div class="programsectiontworight">
      <h1>Educational Support for Underprivileged Children</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui
        dicta nobis, dolore debitis deleniti alias? Quis rem neque explicabo
        natus ipsam et distinctio quae consequatur ipsum beatae ab quidem
        doloremque, ad architecto recusandae eos soluta vel blanditiis, porro
        perspiciatis laborum quisquam nisi necessitatibus. Eum sit facilis sunt
        perferendis odit amet, soluta voluptatum animi eius? Fugit numquam
        beatae velit suscipit?
      </p>
    </div>
  </div>
  <div class="programsectionthree">
    <h1>Girls’ Education Initiative</h1>
    <div class="programsectionthreebody">
      <div class="programsectionthreeleft">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui
          dicta nobis, dolore debitis deleniti alias? Quis rem neque explicabo
          natus ipsam et distinctio quae consequatur ipsum beatae ab quidem
          doloremque, ad architecto recusandae eos soluta vel blanditiis, porro
          perspiciatis laborum quisquam nisi necessitatibus. Eum sit facilis
          sunt perferendis odit amet, soluta voluptatum animi eius? Fugit
          numquam beatae velit suscipit?
        </p>
      </div>
      <div class="programsectionthreecenter">
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
      </div>
      <div class="programsectionthreeright">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui
          dicta nobis, dolore debitis deleniti alias? Quis rem neque explicabo
          natus ipsam et distinctio quae consequatur ipsum beatae ab quidem
          doloremque, ad architecto recusandae eos soluta vel blanditiis, porro
          perspiciatis laborum quisquam nisi necessitatibus. Eum sit facilis
          sunt perferendis odit amet, soluta voluptatum animi eius? Fugit
          numquam beatae velit suscipit?
        </p>
      </div>
    </div>
  </div>
  <div class="programsectionfour">
    <div class="programsectiontwoleft">
      <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
    </div>
    <div class="programsectiontworight">
      <h1>Extracurricular Activities</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui
        dicta nobis, dolore debitis deleniti alias? Quis rem neque explicabo
        natus ipsam et distinctio quae consequatur ipsum beatae ab quidem
        doloremque, ad architecto recusandae eos soluta vel blanditiis, porro
        perspiciatis laborum quisquam nisi necessitatibus. Eum sit facilis sunt
        perferendis odit amet, soluta voluptatum animi eius? Fugit numquam
        beatae velit suscipit?
      </p>
    </div>
  </div>
  <div class="programsectionthree">
    <h1>Community Outreach and Awareness</h1>
    <div class="programsectionthreebody">
      <div class="programsectionthreeleft">
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
      </div>
      <div class="programsectionthreecenter">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui
          dicta nobis, dolore debitis deleniti alias? Quis rem neque explicabo
          natus ipsam et distinctio quae consequatur ipsum beatae ab quidem
          doloremque, ad architecto recusandae eos soluta vel blanditiis, porro
          perspiciatis laborum quisquam nisi necessitatibus. Eum sit facilis
          sunt perferendis odit amet, soluta voluptatum animi eius? Fugit
          numquam beatae velit suscipit?
        </p>
      </div>
      <div class="programsectionthreeright">
        <img src="{% static 'assets/bodyimages/7.jpg' %}" alt="Program 1" />
      </div>
    </div>
  </div>
  
</div>
<script src="{% static 'js/program.js' %}"></script>

{% endblock %}
